@import "../../../scss/mixins/flex-mixin.scss";
@import "../../../scss/mixins/transition-mixin.scss";
@import "../../../scss/mixins/visually-hidden-mixin.scss";
@import "../../../scss/variables/global-variables.scss";
@import "../../../scss/variables/colors-variables.scss";

.profile {
    @include flex-direction($gap: 20px);

    border: $border;
    border-radius: $border-radius-15;

    margin-top: 50px;

    overflow: hidden;
}

.profile__form {
    @include flex-center($gap: 50px);

    backdrop-filter: blur(15px);

    padding: 30px;
}

.profile__inputs-container {
    @include flex-center($gap: 25px);

    &--horizontal {
        flex-direction: row;
    }
    &--vertical {
        flex-direction: column;
    }
}

.profile__input-container {
    @include flex-direction($gap: 5px);
}

.profile__label {
    font: {
        size: 22px;
        weight: 500;
    }
}

.profile__input {
    font: {
        size: 18px;
    }

    background-color: $extra-light-gray;
    border: $border;
    border-radius: $border-radius-10;

    padding: 5px 15px;
    width: clamp(200px, 100%, 500px);

    &--textarea {
        resize: vertical;
        min-height: 40px;
        max-height: 200px;
    }

    &--custom {
        @include flex-justify($direction: row, $gap: 10px);
    }

    &--hidden {
        display: none;
    }
}

.profile__input-button {
    font: {
        size: 14px;
    }

    background-color: $extra-light-gray;
    border: $border;
    border-radius: $border-radius-10;

    padding: 5px 10px;

    cursor: pointer;
}

.profile__split {
    @include flex-justify($justify: space-around, $direction: row, $gap: 15px);

    width: 100%;
}

.profile__avatar-container {
    @include flex-center();
    width: 50%;
}

.profile__avatar {
    border-radius: $border-radius-5;
}

.profile__buttons-container {
    @include flex-center($direction: row, $gap: 10px);
}

.profile__button {
    @include transition-custom($property: background-color);
    font: {
        size: 18px;
    }

    background-color: $extra-light-gray;
    border: $border;
    border-radius: $border-radius-10;

    padding: 10px 15px;

    &--save:not([disabled]):hover {
        background-color: $green-light;
    }
}

.profile__input-error {
    @include visualy-hidden($position: static);
    color: $red;

    &--active {
        @include visualy-hidden-active($position: static);
    }
}
