@mixin visualy-hidden($position: absolute) {
    visibility: hidden;
    opacity: 0;
    position: $position;
}

@mixin visualy-hidden-active($position: absolute) {
    visibility: visible;
    opacity: 1;
    position: $position;
}