@import "../../../scss/mixins/flex-mixin.scss";
@import "../../../scss/mixins/grid-mixin.scss";

.main__problems {
    @include flex-direction($direction: column, $gap: 50px);
    
    margin-block: 50px;
}

.main__title-2 {
    font-weight: 400;
}

.main__cards-container {
    @include grid-column($columns: 3, $gap: clamp(10px, 3vw, 50px));
}

@media screen and (max-width: 800px) {
    .main__cards-container {
        @include grid-column($columns: 2, $gap: clamp(10px, 3vw, 50px));
    }
}

@media screen and (max-width: 500px) {
    .main__cards-container {
        @include grid-column($columns: 1, $gap: clamp(10px, 3vw, 50px));
        padding-inline: 20px;
    }
}