$gray: #eeeeee;
$light-gray: #f0f0f0;
$extra-light-gray: #f5f5f5;
$dark-gray: #4c4c4c;

$black: #000000;
$white: #ffffff;

$green: #22c41d;
$green-light: #00ff00;
$blue: #2b22e5;
$yellow: #ffcb00;
$red: #ff0000;

$white-transparent: rgba(255, 255, 255, 0.5);
$black-transparent: rgba(0, 0, 0, 0.5);
$black-extra-transparent: rgba(0, 0, 0, 0.3);