@import "../../../scss/mixins/flex-mixin";
@import "../../../scss/variables/global-variables.scss";
@import "./Header-variables.scss";

.header {
    position: relative;
    border-bottom: $border-bottom;
    min-height: $header-min-height;
}

.header__container {
    @include flex-justify-align(space-between, center, row, 10px);
    padding-block: 0;

    position: relative;
    z-index: $z-index-100;
}